body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #e3f2fd;"
}
h1{
	text-align: center;
	font-size: 10;
}
.btn{
	font-weight: 700;
	border-radius: 100px;
	text-transform: uppercase;
	margin-top: 30px;
}
.bt-xl{
	padding: 1rem 2rem;
}
.btn-outline-light{
	color: #F05F44;;
	border-color: #F05F44;
}
.btn-outline-light:hover{
	background-color: #ee4b08;
	border-color: #ee4b08;
	border-width: 2px;
}
.or-border{
	background-color: #F05F44;
	max-width: 65px;
	height: 3px;
	margin: auto;
}
.landingpage{
	height: 75%;
	width: 80%;
	background: url(header.jpg) no-repeat center center;
	background-size: cover;
	background-color: black;
	border-radius: 4%;
}
.test{
	width: 80%;
	border-radius: 4%;

}
img{
	border-radius: 4%;
}
